<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.soit.quiet">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".service.MusicPlayerService"
            android:exported="true"
            android:permission="${applicationId}.FLUTTER_MUSIC_PLAYER">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
            <intent-filter>
                <action android:name="tech.soit.quiet.session.MusicSessionService" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
